<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrWaXMya3mKJYqtWvCQcZi2zOSYnnZ7p8</string>
	<key>GCM_SENDER_ID</key>
	<string>656289549134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab4</string>
	<key>PROJECT_ID</key>
	<string>work-management-applicat-61302</string>
	<key>STORAGE_BUCKET</key>
	<string>work-management-applicat-61302.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656289549134:ios:ed300aaa59a16f223dac1f</string>
</dict>
</plist>